@using Localization.Resources.AbpUi
@using Rm.TwoFactorAuth.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Rm.TwoFactorAuth.Web.Models
@model TwoFactorAuthSettingGroupViewModel
@inject IHtmlLocalizer<TwoFactorAuthResource> L
@inject IHtmlLocalizer<AbpUiResource> ABPL

<abp-script-bundle name="@typeof(TwoFactorAuthSettingGroupViewModel).FullName">
    <abp-script src="/Pages/TwoFactorAuth/Components/SettingGroup/Default.js" />
</abp-script-bundle>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">@L["ProfileTab:TwoFactorAuthentication"]</h5>

        <form id="TwoFactorAuthSettingForm">
            <abp-input asp-for="Issuer" label="@L["Setting:TwoFactorAuth:Issuer"].Value" />

            <abp-input asp-for="EnforcementEnabled"
                       label="@L["Setting:TwoFactorAuth:Enforcement:Enabled"].Value"
                       info="@L["Setting:TwoFactorAuth:Enforcement:Enabled:Description"].Value" />

            <abp-button id="btnSaveSetting" button-type="Primary" type="button">
                <i class="fa fa-save"></i> @ABPL["Save"]
            </abp-button>
        </form>
    </div>
</div>